.clear{clear: both;}
.wrap_your_need
{
	width: 921px;
	margin: auto;
	overflow: hidden;
}
#scroll_yourneed {

	padding: 20px 18px 20px 8px;
	/*height:450px;
	overflow: auto;*/
}
.wrap_full_left
{
	width: 675px;
	padding: 3px;
	background:#fff;
	border: 1px solid #e6e7e8;
	height: 318px;
	float: left
}
.your_need_left{
	width: 640px;
	padding-left: 34px;
	padding-top: 32px;
	padding-bottom: 36px;
	height: 314px;

}
.title_your_need_left
{
	color:#234e91;
	font-weight: bold;;
	text-transform: uppercase;
	margin-left: 20px;
	font-size: 20px;
}
.list_yourneed{
	width: 921px;
	background: #ffffff;
	border: 1px solid #e6e7e8;
	margin: 0px auto;
	margin-bottom: 12px;
}
.title_list_yourneed{
	background-color: #919191;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	height: 32px;
	line-height: 32px;
	margin:3px;
	padding-left: 40px;
	width: 873px;
	text-transform: uppercase;
}
.wrap_yourneed
{
	margin-left: 10px;
}
.item_yourneed
{
	float: left;
	width: 160px;
	background: #fff;
	text-align: center;
	margin:10px 0px 20px 12px;
	position: relative;
}
.item_yourneed .your_img img
{
	width: 160px;
}
.item_yourneed  .your_range{
	margin-top: 20px;
	/* font-weight: bold; */
	color: #7893be;
	text-transform: uppercase;
	font-size: 11px;
}
.item_yourneed .your_name{
	font-size: 8pt;
	margin-top: 5px;
	/*font-weight: bold;*/
	text-transform: uppercase;
	min-height: 61px;
	height: 61px;
	overflow:hidden;
	color: #414042;
	padding: 0 5px;
	/*text-align: justify;*/
}
.item_yourneed .your_box_detail {
	background: #ebf1fd;
	padding: 1px 0px 7px 0px;
	margin: 0 2px;
}
.item_yourneed .your_box_detail .product_star_review {
	margin: 10px auto 10px;
	overflow: hidden;
	width: 85px;
}
.wrap_your_need .buy_product{
	float:right;
	height: 322px;
	width: 206px;
	background: #ffffff;
	padding: 7px;
	border: 1px solid #e6e7e8;
}
.wrap_your_need .buy_product .buy_product_inner{
/*	background: url(../images/bg_box_product_inner.png);*/
	width: 207px;
	height: 307px;
	/*padding-top: 60px;*/
}
.wrap_your_need .buy_product .buy_product_inner .bottom_buy_product_online{
	padding-top:10px;
	background: url(../images/bg_box_product_inner.png) no-repeat;
	height: 212px;
}
.wrap_your_need .buy_product .buy_product_inner img{
	margin-bottom: 16px;
}
.wrap_your_need .buy_product_inner_1{
	color: #414042;
	font-size: 14px;
	font-weight: bold;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	width: 140px;
}
.wrap_your_need .buy_product_inner_2{
	margin: 0 auto 10px;
	text-align: center;
	text-transform: uppercase;
	width: 165px;
	font-size: 13px;
}
.wrap_your_need a.buy_product_inner_offline{
	background: none repeat scroll 0 0 #4e8dae;
	color: #ffffff;
	display: block;
	font-weight: bold;
	height: 32px;
	line-height: 32px;
	margin: 10px auto 10px;
	text-align: center;
	text-transform: uppercase;
	width: 134px;
}
.top_buy_product_online
{
	padding: 20px 25px;
	width: 207px;
	height: 97px;
	text-align: center;
	text-transform: uppercase;;
	color: #fff;
	background: url(../images/bg_buyonline.png);
	font-size: 15px;
	line-height: 17px;
	font-weight: bold;	
}
.wrap_list_product_ranges{
	/*width:921px;*/
	
	clear: both;
	overflow-x: hidden;
}
.wrap_list_product_ranges_content{
	width: 923px;
	margin: 0 auto;
	background: none repeat scroll 0 0 #fff;
	margin-bottom: 20px;
	overflow: hidden;
	padding: 0 3px 3px;/*custom padding*/
	border: 1px solid #e6e7e8;
	border-top:none;
	box-shadow: 1px 1px 2px #B6B7B9;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.product_range_name{
	line-height: 30px;
	height: 30px;
	width: inherit;
	color: #ffffff;
	font-size: 16px;
	text-transform: uppercase;
	padding-left: 60px;
}
.product_range_name span{
	font-weight: bold;
}
.wrap_product_range{
	width:911px;
	margin: 0px auto;
	padding: 3px;
	background: #ffffff;
	overflow: hidden;
	margin-bottom: 12px;
	border: 1px solid #e6e7e8;
}
.product_range_left{
	float: left;
	width: 659px;
	height: 315px;
}
.product_range_left_name{
	padding-left: 25px;
	font-size: 35px;
	text-transform: uppercase;
	width: 337px;
	margin-bottom:5px;
	margin-top: 30px;
}
.product_range_left_short_desc{
	padding-left:25px;
	width: 340px;
	font-size: 16px;
	margin-bottom: 20px;
}
.product_range_left_full_desc{
	padding-left:25px;
	font-size: 12px;
	width: 340px;
}
.product_range_right{
	float: left;
	width: 240px;
}
.product_range_right_top, .product_range_right_middle, .product_range_right_bottom{
	/*width:203px;*/
	/*height: 65px;*/
	font-size: 14px;
	color: #ffffff;
	position: relative;
	text-align: center;
	padding:20px 25px;
}

.product_range_right_top img, .product_range_right_middle img, .product_range_right_bottom img{
	position: absolute;
	top:10px;
	left:111px;
}
/*.product_range_right_top span, .product_range_right_middle span, .product_range_right_bottom span{
	text-transform: uppercase;
	font-weight: bold;
}*/
.product_range_right_top .product_range_content, .product_range_right_middle .product_range_content, .product_range_right_bottom .product_range_content {
	/*font-weight: bold;*/
	/*position: absolute;*/
	top: 35%;
	width: inherit;
	right:16%;
}
.product_range_content .title_right
{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 13px;
	width: 203px;
	text-align: center;
	margin-bottom: 10px;
}
.product_range_content span
{
	width: 203px;
	text-transform: none;
}
.other_product_ranges{
	margin-top: 10px;	
}
.title_select_other_range{
	margin-bottom: 15px;
	font-weight: bold;
	font-size: 13px;
}
.select_other_range{
	text-transform: uppercase;
}

/*CSS Product detail*/
.wrap_product_detail{
	width:921px;
	margin: 0px auto;
	overflow: hidden;
}
.wrap_product_detail .product_detail{
	float: left;
	width: 693px;
	height: 373px;
	padding-left: 31px;
	padding-top: 32px;
	padding-bottom: 26px;
	background: #ffffff;
	border: 1px solid #e6e7e8;
}
.wrap_product_detail .product_detail .product_detail_left{
	float: left;
	width: 399px;
	margin-top: -12px;
	margin-left: -5px;
}

.wrap_product_detail .product_detail .product_detail_image{
	float: left;
	width: 264px;
}
.product_detail_image > img {
  display: block;
  margin: 0 auto;
}
.wrap_product_detail .product_detail_range_name{
	text-transform: uppercase;
	margin-bottom: 10px;
	font-size: 16px;
}

.wrap_product_detail .product_detail_name{
	text-transform: uppercase;
	margin-bottom: 12px;
	font-size: 24px;
	/*max-height: 84px;*/
	overflow-y: hidden;
}

.wrap_product_detail .product_detail_desc{
	font-size: 12px;
	max-height: 94px;
	line-height: 19px;
	margin-bottom: 12px;
	overflow-y: hidden;
}
.wrap_product_detail .product_detail_rating{
	margin-bottom: 15px;
	overflow: hidden;
}
.wrap_product_detail .product_detail_review{
	margin-bottom: 15px;
	text-align:left;
	width: 127px;
}
.wrap_product_detail .top_add_review{
	margin-bottom: 12px;
}
.wrap_product_detail .buy_product{
	float: left;
	height: 373px;
	width: 213px;
	margin-left: 12px;
	background: #ffffff;
	padding: 3px;
	border: 1px solid #e6e7e8;
}
.wrap_product_detail .buy_product .buy_product_inner{
/*	background: url(../images/bg_box_product_inner.png);*/
	width: 207px;
	height: 307px;
	/*padding-top: 9px;*/
}
.wrap_product_detail .buy_product .buy_product_inner .bottom_buy_product_online{
	padding-top: 31px;
	background: url(../images/bg_box_product_inner.png) no-repeat;
	height: 373px;
}
.wrap_product_detail .buy_product .buy_product_inner .bottom_buy_product_online .product-detail-hover-buy-online{
	margin-bottom: 25px;
}
.wrap_product_detail .buy_product .buy_product_inner img{
	margin-bottom: 16px;
}
.wrap_product_detail .buy_product_inner_1{
	color: #414042;
	font-size: 13px;
	font-weight: bold;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	width: 170px;
}
.wrap_product_detail .buy_product_inner_2{
	margin: 0 auto 10px;
	text-align: center;
	text-transform: uppercase;
	width: 165px;
	font-size: 13px;
	line-height: 15px;
}
.wrap_product_detail .buy_product_inner_offline{
	background: none repeat scroll 0 0 #4e8dae;
	color: #ffffff;
	display: block;
	font-weight: bold;
	height: 32px;
	font-size: 11px;
	line-height: 32px;
	margin: 16px auto 0px auto;
	text-align: center;
	text-transform: uppercase;
	width: 134px;
}
.wrap_product_detail .description{
	margin-top: 12px;
	background: #ffffff;
	padding: 3px;
	width: 693px;
	float: left;
	border: 1px solid #e6e7e8;
}
.wrap_product_detail .description .tabs > li{
	float: left;
	width: 170px;
	margin-right: 1px;
}
.wrap_product_detail .description .tabs > li:last-child{
	margin-right: 0px;
}
.wrap_product_detail .description .tabs > li > a{
	display: inline-block;
	width:100%;
	text-align: center;
	line-height: 58px;
	height: 58px;
	color: #ffffff;
	/*background: #6e8bb9;*/
	text-transform: uppercase;
	font-weight: bold;
}
.wrap_product_detail .description .tabs > li > a.active{
	/*background: #234e92;*/
}
.wrap_product_detail .description .tab-container{
	clear: both;
	/*padding: 20px 36px;*/
	padding: 20px 18px 20px 36px;
}
.wrap_product_detail .description .tab-container .tab-content{
	height: 268px;
	overflow: hidden;
	width: 635px;
}.wrap_product_range_item .desc_range {
	float: right;
	font-size: 12px;
	margin-right: 52px;
	text-transform: capitalize;
	font-weight: normal;
}
.vichy-search
{
	width: 920px;
	margin: 0 auto;
	clear: both;
}

.vichy-search .box-search
{
	height: 190px;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	padding: 27px 27px 27px 27px;
	box-shadow:0px 2px 2px #B6B7B9;
	background-color: #fff;
	position: relative;
	overflow: hidden;
	margin: 0 0 12px;
}
.vichy-search .box-search .box-title{
	float: left;
	width: 100%;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold !important;
	margin-bottom: 10px;
	color: #6e8bb9 !important;
}
.vichy-search .box-search .box-alert{
	float: left;
	font-size: 14px;
	width: 100%;
	margin-bottom: 20px;
	font-color: #414042;
}
.vichy-search .box-search .box-input{
	float: left;
	width: 100%;
	height: 30px;
	margin-bottom: 20px;
}
.vichy-search .box-search .box-input .search-comp{
	width: 866px;
	position: relative;
}
.vichy-search .box-search .box-input .search-comp .inputbox{
	height: 35px;
	width: 828px;
	border: none;
	background: white;
	border-top: 1px solid #cad2da;
	border-left: 1px solid #cad2da;
	border-bottom: 1px solid #cad2da;
	float: left;
	outline: none;
	padding-left: 5px;
	padding-right: 5px;
}
.vichy-search .box-search .box-input .search-comp .btn-search{
	position: absolute;
	right: 0;
	border: none;
	width: 40px;
	height: 35px;
	float: left;
	background: url('../images/bt-search.png') no-repeat;
	background-position: center;
	border-top: 1px solid #cad2da;
	border-right: 1px solid #cad2da;
	border-bottom: 1px solid #cad2da;
	cursor: pointer;
	outline: none;
}

@media(max-width: 992px){
    .product_range_left_name{
        padding-left: 25px;
        font-size: 22px;
        text-transform: uppercase;
        width: 210px !important;
        margin-bottom:5px;
        margin-top: 5%;
        font-weight: bold;
    }
    .product_range_left_short_desc{
        padding-left:25px;
        min-height: 15px;
        width: 50% !important;
        font-size: 14px;
        margin-bottom: 12%;
    }
    .product_range_left_short_desc p{
    	margin: 0 !important;
    }
    .product_range_left_full_desc{
    	/*margin-top: 30%;*/
    }
	.wrap_list_product_ranges_content{
		width: 100% !important;
	}
	.product_range_name{
		padding-left: 2% !important;
	}
	.wrap_product_range_item .desc_range{
		margin-right: 2% !important;
		font-size: 11px !important;
	}
	.product_range_image img{
		width: 100% !important;
	}
	.product_range_name{
		font-size: 14px !important;
	}
	/*sản phẩm > chăm sóc da mat*/
	.wrap_your_need,.list_yourneed,.item_yourneed .your_img img {
		width: 100% !important;
	}
	.title_list_yourneed,.wrap_comment .customer_review{
		width: 98% !important;
		padding-left: 2% !important;
	}
	.item_yourneed{
		margin-left: 0 !important;
		width: 33% !important;
	}
	.item_yourneed .product_new,.item_yourneed .product_favorite{
		bottom: 46% !important;
	}
	.item_yourneed .your_name{
		font-size: 7pt !important;
		height: 70px !important;
	}
	.product_item .product_name{
		font-size: 7pt !important;
	}
	/*chi tiết san phẩm*/
	.wrap_product_detail,
	.wrap_product_detail .product_detail,
	.product_detail_image > img,
	.wrap_product_detail .description .tab-container div,
	.wrap_comment{
		width: 100% !important;
	}
	
	.wrap_product_detail .product_detail .product_detail_left{
		width: 61% !important;
	}
	.wrap_product_detail .product_detail .product_detail_image{
		width: 40% !important;
	}
	.wrap_product_detail .product_detail_name{
		font-size: 15px !important;
	}
	.top_add_review{
		width: 65% !important;
		font-size: 10px !important;
		/*display: none;*/
	}
	.product_detail_left a{
		/*display: none;*/
	}
	.wrap_product_detail .description{
		width: 100%  !important;
	}
	.wrap_product_detail .description .tabs > li{
		width:49.5% !important;
	}
	.wrap_product_detail .description .tabs > li > a{
		padding:5% ;
		/*background:url(../images/bg-chitietsp2.png);*/
		text-transform: none;
		font-size: 13px !important;
		line-height: 12px !important;
		height: 30px !important;
	}
	.wrap_product_detail .description .tab-container .tab-content{
		height: auto;
	}
	.wrap_product_detail .description .tab-container{
		  padding: 7% 8% 7% 8%;
	}
	.comment-product{
		width: 100% !important;
		padding: 3% 0% 3% 8% !important;
	}
	.comment-item{
		padding-bottom: 8% !important;
		width:100% !important;
	}
	.comment-product .comment-item .profile-user .thumb-pic{
		width: 25% !important;
  		height: 25% !important;
	}
	.comment-product .comment-item .profile-user .thumb-pic img{
		width: 100% !important;
		height: 100% !important;
	}

	.comment-product .comment-item .profile-user{
		width: 100% !important;
		margin-bottom: 3%;
	}
	.product-comment-rating .profile-user-comment .rating{
		margin-top: 5px !important;
	}
	.comment-product .comment-item .profile-user .product-comment-rating{
		height: auto !important; 
	}
	.comment-item .comment-content{
		width: 100% !important;
		margin:0 !important;
		padding: 4% 0;
	}
	.wrap_comment .comment_product_input{
		min-height: 275px;
	}
	.product-rating{
		padding:3% 8% !important;
	}
	.comment_product_input{
		width: 100% !important;
		padding: 0 !important;
	}
	.comment_product_input .user-input,.comment_product_input .form_comment{
		width: 100% !important;
	}
	.comment_product_input .user-submit{
		right: 5% !important;
		bottom: 5% !important
	}
	.comment_product_input .user-input{
		margin-top: 0 !important;
	}
	.user-submit input{
		width: 100% !important;
	}
	.user-input .comment-input{
		width: 100% !important;
		border: 1px solid #ddd !important;
  		height: inherit !important;
  		border-radius: 5px !important;
  		margin-top: -1px !important;
		padding:5% 5% 1% 5% !important;
	}
	.image_product img{
	  	width:100%;
	  	height: auto;
	}
	.product_item .product_new,.product_item .product_favorite{
		right: 3% !important;
	}
	.btn-mobi{
		width: 100%;
		background: #448ACD;
		color: #fff;
		text-align: center;
		padding: 3% 0 3% 8%;
	}
	.plus{
		width: 5%;
		margin-right: 2%;
		float: right;
	}
    .sub-menu-spa-btn{
        /*background: url(../images/btn-plus.png) no-repeat 5px;*/
        width: 31px;
        height:34px;
        float: right!important;
        margin-right: 17px!important;
        border: 0!important;

        background-size: 25px 25px;
    }
    .plus1{
        background: url(../images/btn-plus.png) no-repeat -2px;
    }
    .minus1{
        background: url(../images/btn-minus.png) no-repeat -2px;
    }
    .navbar-default .sub-menu-spa-btn:hover,.navbar-default .sub-menu-spa-btn:focus,.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
        background-color: transparent!important;
    }
    .sub-menu-spa-header{
        background-color: #0f3e87;
        margin-right: 0 !important;
    }
    .sub-menu-a,.cat_active{
        /*background: url('../images/bg-submenu.png') no-repeat;*/
        background-size: 120px 40px;
        color:white!important;
        font-weight: bold;
        /*margin-left: 15px;*/
        /*float:left;*/
        padding-left:0px!important;
    }
    .bg-li-menu-mobile .sub-menu-a, .cat_active{
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 20px;
        display: block;
        position: relative;
    }
    .bg-li-menu-mobile{
        /*background: url(../images/bg-sub-mobile.png) repeat-x;*/
        display: none!important;
        /*float:left;*/
        /*width: 100%;*/
        padding-left:15px;
    }
    .bg-li-menu-mobile1{
        /*background: url(../images/bg-sub-mobile.png) repeat-x;*/
        /*float:left;*/
        /*width: 100%;*/
       /* padding-left:15px;*/
    }
    .bg-li-menu-mobile.active{
        /*background: url(../images/bg-sub-menu-active.png) repeat-x;*/
        display: inherit!important;
    }
    .sub-menu-a.active{
        background-color:transparent!important;
        padding-right:15px;
    }
    .sub-menu-a-margin
    {
        margin-left:15px;
    }
    .sub-menu-a-margin1
    {
        margin-left:25px;
    }
    .dropdown-menu {
        padding:0!important;
    }
	.minus{
		width: 5%;
		margin-top: 3%;
		margin-right: 2%;
		float: right;
	}
	.wrap_product_detail .description .tabs > li > a.active{
		/*background:url(../images/bg-chitietsp.png);*/
	}
/*	.wrap_product_detail{
		margin-top: 10% !important;
	}*/
	.breadrumsp{
		padding-left: 0px !important;
		background: url(../images/bg-sub-mobile.png) !important;
	}
	.container > .navbar-collapse{
		margin-right: 0 !important;
		padding-right: 0;
	}
	.product_range_left{
		background-size: 100% !important; 
	}
	.wrap_product_detail .product_detail{
		height: 345px;
	}
	.product-racroi{
        min-height: 125px;
    }
}	


