.registration h1{
	font-size: 25px;
	text-transform: uppercase;
	color: #6f8bbb;
	margin-bottom: 35px;
}
.registration h3{
	font-size: 17px;
	text-transform: uppercase;
}
.registration .intro-text{
	font-size: 14px;
	line-height: 20px;
	width: 750px;
	margin-bottom: 10px;
}
.registration .activate{
	font-size: 14px;
	font-weight: bold;
	
	width: 500px;
	margin-bottom: 30px;
}
.registration .return{
	background: url("../image/Vichy_Dang_Ky_Thanh_Cong.jpg") no-repeat;
	color: #ffffff;
	display: block;
	font-size: 14px;
	height: 32px;
	line-height: 32px;
	margin: 0 auto;
	text-align: center;
	width: 194px;
}
.sign-box{
	padding-right: 60px;
}