.sign_box_top
{
	background:url(../image/bg_sign_up.png) no-repeat;
	width:846px;
	height:68px;
	margin-bottom:28px;
	color: #6e8bb9;
	font-size: 17px;
	font-weight: normal;
	padding: 100px 0px 0px 0px;
}
.registration{
	width: 940px;
	margin: 0 auto;
	overflow: hidden;
}

.registration .sign-box {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding-left:60px;
	padding-top:7px;
	box-shadow: 0px 2px 2px #B6B7B9;
	background-color: #fff;
	position: relative;
	overflow: hidden;
	margin: 0 0 20px;
	padding-bottom: 65px;

}
.registration .title{
	width: 665px;
}

.registration .title h3 {
	font-size: 30px;
	color: #6e8bb9;
	font-family: Arial,'helvetica_bold';
	text-transform: uppercase;
	width: 830px;
}

.registration .title span{
	float: left;
	font-size: 14px;
	color: #414042;
	font-family: Arial,'helvetica_bold';
	text-transform: uppercase;
	font-weight: bold;
	width: 830px;
	margin-top: 30px;
}

.registration .title .intro-text{
	width: 665px;
	font-size: 14px;
	color: #414042;
	margin-top: 30px;
	font-family: inherit;
	line-height: 25px;
}
.registration .title .note {
	width: 710px;
	font-size: 12px;
	color: #939598;
	margin-top: 25px;
	font-family: inherit;
	padding-bottom: 25px;
	border-bottom: 1px solid #ebebeb;
}

.registration .sign-form{
	width: 710px;
	padding-top: 25px;
}

.registration .sign-form .form-error{
	width: 665px;
	margin-bottom: 10px;
}
.registration .sign-form .form-error .error-text{
	color: #ff0000;
	font-size: 12px;
}

.registration .sign-form .left-form{
	/*overflow: hidden;*/
	width: inherit;
}

.registration .sign-form .left-form .row{
	margin-bottom: 24px;
	height: 35px;
}
.registration .sign-form .left-form .row .title{
	font-size: 15px;
	color: #414042;
	font-weight: bold;
	width: 160px;
	margin-right: 20px;
	float: left;
	height: 40px;
	line-height: 40px;
}
.registration .sign-form .left-form .row .content{
	width: 324px;
	float: left;
}
.registration .sign-form .left-form .row .content .left-content{
	width: 80px;
	float: left;
	font-size: 15px;
	color: #414042;
	font-weight: bold;
}

.sign-form .input-data{
	width: 310px;
	height: 35px;
	border: 1px solid #9d9fa2;
	padding-left: 10px;
	margin-bottom: 15px;
	font-size: 15px;
	color: #414042;
	font-weight: bold;
}
.sign-form .select-data{
	width: 324px;
	height: 35px;
	border: 1px solid #9d9fa2;
	padding: 5px 0 0 5px;
	margin-bottom: 15px;
	font-size: 15px;
	color: #414042;
	font-weight: bold;
}
.birth-day,.birth-month,.birth-year{
	height: 35px;
	border: 1px solid #9d9fa2;
	padding: 5px 0 0 5px;
	font-size: 15px;
	color: #414042;
	font-weight: bold;
	margin-right: 2px;
	width: 106px;
}

.registration .sign-form .right-form{
	float: right;
	width: 320px;
}

.registration .sign-form .bottom-form{
	float: left;
	width: 665px;
	min-height: 35px;
	clear: both;
	margin-top: 50px;
}

.registration .sign-form .bottom-form .box{
	width: 65px;
	margin: 0 auto;
}

.registration .sign-form .bottom-form .submit{
	border: none;
	background: #5692b2;
	text-transform: uppercase;
	color: #ffffff;
	min-width: 70px;
	height: 30px;
	font-weight: bold;
	border: 1px solid #649bb8;
	cursor: pointer;
}
.add_info {
	border-top: 1px solid #ebebeb;
	margin-top: 20px;
	padding-top: 45px;
	font-size: 12px;
}
.add_title {
	margin-bottom: 5px;
}
.add_title > span {
  	font-weight: bold;
}
.add_item {
 	border-bottom: 1px solid #ebebeb;
	overflow: hidden;
	padding-bottom: 25px;
	padding-top: 25px;
}
.add_question {
	font-weight: bold;
	margin-bottom: 20px;
}
.add_answer {
	float: left;
	width: 142px;
}
.image_common{
	padding-left: 25px;
}
.image_off{
	background: url(../image/image_off.png) no-repeat;
}
.image_on{
	background: url(../image/image_on.png) no-repeat;
}

@media (max-width: 992px){
    .registration .sign-box{
        padding:0 20px;
    }
    .left-form .row .content input{
        width:100%;
    }
    .sign_box_top{
        background-size: 100%;
        width: 100%;
        height: auto;
    }
    .registration .sign-form .left-form .row{
        padding-left:15px;
    }
    .registration .sign-form{
        padding-top: 10px;
    }
    .registration .sign-form .left-form .row{
        margin-bottom:0px;
    }
    .birth-day, .birth-month, .birth-year{
        width: 86px;
    }
    .email-title{
        margin-top: 14px;
    }
    .registration,.registration .intro-text,.registration .activate{
    	width: 100% !important;
    }
    .registration .return{
    	margin-bottom: 5% !important;
    }
}