.clear{clear: both;}
#popup-product{
  position: relative;
}
body.ie7 .messagepop{
    left:-391px;
}
body.ie8 .messagepop{
  left: -390px;
}
body.ie9 .messagepop{
  left: -392px
}
body.ie10 .messagepop{
  left: -392px
}

body.notIE .messagepop{
  left:-378px;
}

.messagepop .search-box{
  width:195px;
  float: left;
  margin-right: 15px;
}

.messagepop .link-box{
  width:195px;
  margin-top: 25px;
}
.messagepop .link-box .link_box_sub{
  width: 100%;
  line-height: 25px;

}
.messagepop .link-box .link_box_sub a.link_box_sub_a{
  color: #333 ;
  text-transform: none;
  padding: 0px;
  font-size: 12px;
  font-weight: bold;
  transition:0s;
  height: 25px;
  line-height: 25px;
  background: none;
}
.messagepop .link-box .link_box_sub a.link_box_sub_a:hover{
  color: #6e8bb9;
  background: none;
}
.messagepop .product-content{
  float: left;
  /*height: 100px;*/
 
  width:688px;
}

.product-content .str_cl {
    float: left;
    width:207px;
    margin-right: 14px;
}
.product-content .pos{
  margin-right: 0px !important;
}

.product-content .str_cl h4 {
    border-bottom: 1px solid #CAD2DA;
    color: #414042;
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 27px;
    padding-bottom: 15px;
    text-transform: uppercase;
}
.product-content .str_cl .sub_1, .product-content .str_cl .sub_main
{
  width: 100%;
  line-height: 25px;
  line-height: 25px;
  font-size: 12px;
}
.product-content .str_cl .sub_main a.sub_main_a
{
  background: none;
  padding: 0px;
  color: #666;
  text-transform: none;
  font-size: 12px;
  font-weight: normal;
  height: 25px;
  line-height: 25px;
}
.product-content .str_cl .sub_1 a.sub_1_a
{
  background: none;
  padding: 0px;
  color: #333;
  text-transform: none;
  font-size: 12px;
  font-weight: bold;
  height: 25px;
  line-height: 25px;
}
.product-content .str_cl .sub_1 a.sub_1_a:hover, .product-content .str_cl .sub_main a.sub_main_a:hover
{
  color: #335a99;
}
.product-content .str_cl .sub_2
{
  margin-left:0px;
  line-height: 25px;
  line-height: 25px;
}
.product-content .str_cl .sub_2 a.sub_2_a
{
     color: #333;
     background:left center url('../images/point_black.png') no-repeat;
     padding-left:10px; 
     color: #666;
    text-transform: none;
    font-size: 12px;
    font-weight:normal;
    height: 25px;
    line-height: 25px;
    width: 235px;
    overflow: hidden;
}
.product-content .str_cl .sub_2 a.sub_2_a:hover{
  color: #335a99;
}
/*.product-content .str_cl ul li{
  margin-left: 0 !important;
  float: none !important;
}
.product-content .str_cl ul li a{
  font-size: 12px;
  color:#414042;
  line-height: 20px;
  border-bottom: none !important;
  font-weight: normal !important;
  text-transform: capitalize !important;
}

.product-content .str_cl ul li a:hover{
  color: #6e8bb9;
}*/

.messagepop .inputbox{
    width:150px;
    height: 34px;
    padding-left: 10px;
    border-left: 1px solid #9d9fa2;
    border-top: 1px solid #9d9fa2;
    border-bottom: 1px solid #9d9fa2;
    float: left;
}

.messagepop .btn-search{
    background: url("../images/bt-search.png") no-repeat center;
    cursor: pointer;
    width: 30px;
    height: 34px;
    border: none;
    border-right: 1px solid #9d9fa2;
    border-top: 1px solid #9d9fa2;
    border-bottom: 1px solid #9d9fa2;
    float: left;
    background-color: #ffffff;
}
    /*left:-391px;*/
/*}*/
body.ie8 .messagepop{
  left: -390px;
}
body.ie9 .messagepop{
  left: -370px
}
body.ie10 .messagepop{
  left: -392px
}

body.notIE .messagepop{
  left:-378px;
}
.messagepop {
  background-color:#FFFFFF;
  border-left:1px solid #e6e7e8;
  border-right:1px solid #e6e7e8;
  border-bottom:2px solid #e6e7e8;
  /*border-top: 5px solid #234e91;*/
  cursor:default;
  /*display:none;*/
  left:-370px;
  /*left: -392px\9;
  left: -373px\0/;*/
  /*top:46px;*/
  top:31px;
  position:absolute;
  text-align:left;
  width :922px;
  min-height: 175px;
  z-index:50;
  padding: 25px 11px;/*custom padding*/

  visibility:hidden;
  opacity:0;
  transition:visibility 0s linear 0.5s,opacity 0.5s linear;
}