.wrapper_product_step{
	width:921px;
	margin: 0 auto;
	clear: both;
	overflow: hidden;
}
.wrapper_product_step_content{
	background: none repeat scroll 0 0 #fff;
	margin-bottom: 12px;
	overflow: hidden;
	padding: 3px;
	border: 1px solid #e6e7e8;
}
.routine{
	height: 30px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 14px;
	padding-left: 60px;
}
.routine_steps{
	width: 913px;
	margin-left: 0 !important;
	margin-right: 0 !important;
	height: 67px;
	padding: 10px 84px;
}
.step_item{
	float: left;
	text-align: center;
}
.no_step{
	text-transform: uppercase;
	font-size: 18px;
	/*height: 29px;*/
}
.no_step > div {
	border-bottom: 3px solid;
	margin: 0 auto;
	/*padding-bottom: 5px;*/
	width: 82px;
	font-weight: bold;
}
.step_name{
	margin-top: 5px;
	/*color: #ffffff;*/
	text-transform: capitalize;
	font-size: 14px;
	/*font-weight: bold;*/
}
.product_steps{
	/*padding: 20px 68px;*/
	padding: 20px 18px 20px 68px;
	/* height: 450px;
	overflow:auto; */
}
.product_steps_item{
	float: left;
}
.border_step
{
	border-right: 3px solid #f6f6f6;
	
}
.product_steps .product_item{
	margin: 0 auto;
	padding-bottom: 25px;

}.clear{clear: both;}

@media(max-width:992px){
    /*.routine_steps .col-xs-2,.product_steps_item .col-xs-2,.mCSB_container .col-xs-2{*/
        /*width: 19.666667%!important;*/
    /*}*/
    .product_item .product_range,.product_item .product_name{
    font-size: 7pt!important;
    }
    .wrapper_product_step{
    	width: 100% !important;
    }
    .product_steps{
    	padding: 0 !important;
    }
    .tabs-product{
        /*background: url('../../../templates/vichy/images/bg-tab.png') repeat-x !important;*/
        background-size: 100%;
        text-align: center;
        font-size: 10px;
        padding:0!important;
        border-top: 1px solid white;
		border-left:1px solid white!important;

    }
    .product_steps .nav-tabs > li > a{
        border:0!important;
        border-radius: 0;
        border-bottom: 0;
        padding:5px 0 3px 0;
        color:white;
        margin-right:0px;
    }
    .product_steps .nav-tabs > li.active > a,.product_steps .nav-tabs > li.active > a:hover,.product_steps .nav-tabs > li.active > a:focus{
        background: transparent;
        /*border: 0!important;*/
        color:white!important;
    }
    .product_steps .col-xs-6{
        width: 50%!important;
    }
    .tabs-product b{
        font-size: 13px;
    }
    .product_steps .row{
        margin:0!important;
    }
    .wrapper_product_step_content
    {
        margin-bottom: 0px!important;
    }
	.nav-tabs > li > a:hover{
		border-color: transparent!important;
	}
}