/* ========================================
 *	$ =	CSS RESET
 * ======================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;

	border: 0;
	outline: 0;
	font-weight: normal;
	font-style: inherit;
	font-family: inherit;
}
:focus {
	outline: 0;
}

a {
	cursor:pointer;
	outline: none;
	}
html {
	-webkit-font-smoothing: antialiased;
	}
body {
	font-family: arial,sans-serif; color: black; font-size: 11px;
}
ol, ul {
	list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
table tr {
	vertical-align: top;
	}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a:link, a:visited {
	color:#6e7f8a;
	text-decoration: none;
	}
a:hover {
	color:#475862;
	text-decoration: none;
}
a:focus {}

.clearfix {
	display: block;
}


/**CSS STRUCTURE**/
html{
	background:#f5faff;
}

@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('../font/helveticaneue-light.eot');
    src: url('../font/helveticaneue-light.eot') format('embedded-opentype'),
         url('../font/helveticaneue-light.woff') format('woff'),
         url('../font/helveticaneue-light.ttf') format('truetype'),
         url('../font/helveticaneue-light.svg#HelveticaNeueLight') format('svg');
		 
	font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'helvetica_bold';
    src: url('../font/helveticabold.eot');
    src: url('../font/helveticabold.eot?#iefix') format('embedded-opentype'),
         url('../font/helveticabold.woff') format('woff'),
         url('../font/helveticabold.ttf') format('truetype'),
         url('../font/helveticabold.svg#helvetica_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'HelveticaLTStdLight';
    src: url('../font/helveticaltstd-light.eot');
    src: url('../font/helveticaltstd-light.eot') format('embedded-opentype'),
         url('../font/helveticaltstd-light.woff') format('woff'),
         url('../font/helveticaltstd-light.ttf') format('truetype'),
         url('../font/helveticaltstd-light.svg#HelveticaLTStdLight') format('svg');
}
body{
	min-width:1005px; /* bug ipad */
}
.clear{clear: both;}
.container{
	position:relative;
	background:#fff;
}

.main-center {
	width: 1005px;
	margin: 0 auto;
}

/*CSS header*/

/*header.main {
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	background: url('../images/f_header_main.gif') left top repeat-x #fff;
}*/
header.main{
	width: 100%;
	float:left;
	position: fixed;
	left:0;
	top: 0;
	z-index: 999; 
	_position: absolute;
	_top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') 
	? documentElement.scrollTop +(documentElement.clientHeight-this.clientHeight) 
	: document.body.scrollTop +(document.body.clientHeight-this.clientHeight));
	background: url('../images/f_header_main.gif') left top repeat-x #fff;
}
header.main .main-center {
	width: 940px;
	height: 144px;
	/*padding: 15px 0 0 20px;*/
	position: relative;
}

.logo-vichy {
	/*padding: 15px 0 0 0;
	margin: 0 10px 0 0;*/
	width: 160px;
	float: left;

}

.logo-vichy a {
	display: block;
	height: 125px;
	text-indent: -5000px;
	/*background: url('../images/v_logo-vichy.gif') left bottom no-repeat;*/
	/*background: url('../images/vichy_logo.png') left bottom no-repeat;*/
	background: url('../images/logo_vichy_new.png') left bottom no-repeat;
}

.nav-vichy{
	float:right;
	width: 735px;
}

.nav-vichy .nav-vichy-top{
	padding-bottom: 0px;
	width: 100%;
}

.nav-vichy-top .nav-vichy-top-left{
	width: 210px;
	height: 30px;
	float: left;
	margin-top: 29px;
}

.nav-vichy-top .nav-vichy-top-left .search{
	width: 210px;
	position: relative;
}

.nav-vichy-top-left .search .inputbox {
	height: 31px;
	line-height: 31px;
	width: 166px;
	border: none;
	background: white;
	border-top: 1px solid #cad2da;
	border-left: 1px solid #cad2da;
	border-bottom: 1px solid #cad2da;
	float: left;
	outline: none;
	padding-left: 5px;
	padding-right: 5px;
}

.nav-vichy-top-left .search .btn-search {
	position: absolute;
	right: 0;
	border: none;
	width: 33px;
	height:35px;
	float: left;
	background: url('../images/bt-search.png') no-repeat;
	background-position: center;
	border-top: 1px solid #cad2da;
	border-right: 1px solid #cad2da;
	border-bottom: 1px solid #cad2da;
	cursor: pointer;
	outline: none;
}

.nav-vichy-top .nav-vichy-top-right{
 	float: right;
	width: 466px;
}

/*.nav-vichy-top-right .login{
	
	font-size: 14px;
	padding-top: 10px;
	margin-right:25px;
	width: 150px;
	height: 29x;
	line-height: 29px;
	float: left;
	text-align: center;
}
.nav-vichy-top-right .login .in{
	font-weight: bold;
	color:#6e8bb9;
	padding-left: 28px;
}*/

.nav-vichy-top-right .login .out{
	font-weight: bold;
	color:#414042
}

.nav-vichy-top-right .newsletter{
	width: 32px;
	float: left;
	height: 28px;
	background: url('../images/mail.png') no-repeat; 
	margin-right: 2px;
}

.nav-vichy-top-right .social-link{
	/*width:95px;*/
	float:right;
	height: 30px;
	
}
.nav-vichy-top-right .social-link img{
	padding-left: 3px;
}


.nav-vichy .nav-vichy-bottom{
	width: 100%;
	height: 50px;
	float: left;
}
ul.vichy-menu{
	display: block;
	margin-top: 10px;
	float: right;
}

ul.vichy-menu li {
	float: left;
	margin-left:15px;
	transition:0,5s;
}

ul.vichy-menu li a{
	color: #414042;
	font-size: 15px;
	text-transform: uppercase;
	font-family: Arial,'helvetica_bold';
	letter-spacing: .3px;
	font-weight: bold;
	height: 44px;
	line-height: 44px;
	display: block;
	padding: 0px 12px;
	/*transition:0,3s;*/
}

ul.vichy-menu li a:hover{

	background:url('../images/menu_active.png') repeat-x ;
	color: #fff;
}

ul.vichy-menu li.active a {
	
	background:url('../images/menu_active.png') repeat-x ;
	color: #fff;
}

.vichy-link{
	min-width: 285px;
	height: 30px;
	float: right;
	/*margin-top:20px;*/
}

.vichy-link .my_skin{
	width: 92px;
	float: left;
    height: 29px;
    padding-left:60px;
    line-height: 29px;
    background: url('../images/my_skin.png') no-repeat;
	background-position: left;
	margin-right: 5px;
}

.vichy-link .basket{
	width: 104px;
	float: left;
    height: 29px;
    padding-left:48px;
    line-height: 29px;
    background: url('../images/by_online.png') no-repeat;
	background-position: left;
	margin-right: 5px;
}

.vichy-link .store{
	width: 112px;
	float: left;
    font-size: 14px;
    height: 29px;
    line-height: 29px;
    padding-left: 40px;
	background: url('../images/pointer.png') no-repeat;
	background-position: left;
}
.vichy-link .basket a, .vichy-link .store a, .vichy-link .my_skin a{
	color: #fff;
	font-size: 12px;
}
/*CSS sub header*/

div.sub-header {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #a0b8d2;
	background: url('../images/f_sub-header.gif') left 1px repeat-x #a9bdd0;
	box-shadow: 0 2px 2px rgba(0,0,0,.25);
}

div.sub-header {
	position: fixed;
	z-index: 90;
	top: 80px;
	width: 100%;
	height: 34px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #cad2da;
	background: url('../images/f_sub-header-inner.gif') left 1px repeat-x #f5faff;
}

/*CSS main content*/
div.main-container {
	min-height: 1000px;
	padding-top: 190px;
	clear: both;
	background: url('../images/f_main_generique.jpg') center 116px no-repeat fixed;
}
/*CSS for border homepage*/
.border_home{
	background: #234e91;
	width: 100%;
	height: 5px;
	position: fixed;
	top: 144px;
	z-index:10;	
}

/*CSS breadcrumb*/
.vichy-breadcrumb{
	height: 32px;
	line-height: 32px;
	/*background: #6e8bb9;*/
	background: #234e91;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 12px;
	position: fixed;
	top: 144px;	
	width: 100%;
	z-index:10;	
	vertical-align: middle;
}


.vichy-breadcrumb-inactive{
	position: relative;	
	float: left;
	width: 165px;
	height: 32px;
	line-height: 32px;		
}

.vichy-breadcrumb-active{
	/*background: #6e8bb9;*/
	position: relative;	
	float: left;
	width: 196px;
	height: 32px;
	line-height: 32px;		
	/*background: url(../images/bg_breadcrumb_active.png) no-repeat;	*/
	/*background-color: #6bc3ec;*/
}


.breadcrumbs{
	height: 32px;
	line-height: 32px;
	/*background: #6e8bb9;
	background: #fff;*/
	color: #ffffff;
	text-transform: uppercase;
	font-size: 12px;	
	top: 144px;	
	width: 940px;		
	margin: 0 auto;
	vertical-align: middle;		
}

.breadcrumbs .breadcrumb_level_1{
	/*background-color: #6bc3ec;*/
}

.breadcrumbs .breadcrumb_level_2{
	/*background-color: #3f74c8;*/
	background: url(../images/bg_breadcrumb_2.png) no-repeat;	
}

.breadcrumbs .breadcrumb_level_3{
	/*background-color: #3c9bc7;*/
	background: url(../images/bg_breadcrumb_3.png) no-repeat;
}

.breadcrumbs .breadcrumb_level_4{
	/*background-color: #6bc3ec;*/
	background: url(../images/bg_breadcrumb_4.png) no-repeat;
}

.breadcrumbs-right-style{
	height: 32px;
	line-height: 32px;
	/*background: #6e8bb9;
	background: #fff;*/
	color: #ffffff;
	text-transform: uppercase;
	font-size: 12px;	
	top: 144px;	
	width: 720px;		
	margin: 0 auto;
	vertical-align: middle;	
	padding-left: 220px
}

.breadcrumbs span{
	display: block;
	width: 151px;	
	float: left;
	overflow: hidden;
	position: relative;
	margin-left: 14px;	
	text-align: center;	
	height: 32px;
	line-height: 32px;
}
.breadcrumbs a{
	/*display: line-block;*/
	display: block;
	width: 165px;	
	float: left;
	overflow: hidden;
	text-align: center;	
	height: 32px;
	line-height: 32px;
}
.breadcrumbs a:link, .breadcrumbs a:visited{
	color: #fff;
}
.breadcrumbs a:hover{
	color: #fff;	
}
.breadcrumbs img{
	/*display: none;*/
	float: left;
}
.breadcrumbs-right-style span{
	display: block;
	width: 151px;	
	float: left;
	overflow: hidden;
	position: relative;
	margin-left: 14px;	
	text-align: center;	
	height: 32px;
	line-height: 32px;
}
.breadcrumbs-right-style a{
	/*display: line-block;*/
	display: block;
	width: 196px;	
	float: left;
	overflow: hidden;
	text-align: center;	
	height: 32px;
	line-height: 32px;
}
.breadcrumbs-right-style a:link, .breadcrumbs-right-style a:visited{
	color: #fff;
}
.breadcrumbs-right-style a:hover{
	color: #fff;	
}
.breadcrumbs-right-style img{
	/*display: none;*/
	float: left;
}
/*CSS footer*/
footer.main {
	width: 100%;
	clear: both;
	padding: 5px 0 22px 0;
	border-top: 1px solid #cad2da;
	background:#d9e7f4;
}

footer.main .top {
	overflow: hidden;
	padding-bottom: 0px;
}

footer.main .top .main-center {
	width: 940px;

}

footer.main .top .footer_request {
	width:380px;
	float: left;
	margin-right: 70px;
}
footer.main .top .footer_request .footer_request_left
{
	float: left;
	width: 235px;
	
}
footer.main .top .footer_request .footer_request_left .sub_1
{
  width: 100%;
  line-height: 25px;
  line-height: 25px;
}

footer.main .top .footer_request .footer_request_left .sub_1 a.sub_1_a
{
  background: none;
  padding: 0px;
  color: #333;
  text-transform: none;
  font-size: 12px;
  font-weight: bold;
  height: 25px;
  line-height: 25px;
}
footer.main .top .footer_request .footer_request_left .sub_1 a.sub_1_a:hover
{
  color: #335a99;
}
footer.main .top .footer_request .sub_2
{
  
  line-height: 25px;
  line-height: 25px;
}
footer.main .top .footer_request .sub_2 a.sub_2_a
{
     color: #333;
     background:left center url('../images/point_black.png') no-repeat;
     padding-left:8px; 
     color: #666;
    text-transform: none;
    font-size: 12px;
    font-weight:normal;
    height: 25px;
    line-height: 25px;
}
footer.main .top .footer_request .footer_request_right
{
	float: right;
	width: 135px;
}
footer.main .top .footer_request .footer_request_right .sub_1
{
  width: 100%;
  line-height: 25px;
  line-height: 25px;
}

footer.main .top .footer_request .footer_request_right .sub_1 a.sub_1_a
{
  background: none;
  padding: 0px;
  color: #333;
  text-transform: none;
  font-size: 12px;
  font-weight: bold;
  height: 25px;
  line-height: 25px;
}
footer.main .top .footer_request .footer_request_right .sub_1 a.sub_1_a:hover
{
  color: #335a99;
}
footer.main .top .footer_item
{
	float: left;
	width: 220px;
	margin-right: 50px;
}
footer.main .top .footer_item .footer_item_sub
{
	 width: 100%;
	 height: 200px;
}
footer.main .top .footer_item .footer_item_sub .sub_main_left
{
    width:135px;
  
	float: left;
}
footer.main .top .footer_item .sub_main a.sub_main_a
{
  background: none;
  padding: 0px;
  color: #666;
  text-transform: none;
  font-size: 12px;
  font-weight: normal;
  height: 25px;
  line-height: 25px;
}

footer.main .top .footer_item .sub_main_left .sub_main a.sub_main_a:hover
{
  color: #335a99;
}
footer.main .top .footer_item .footer_item_sub .sub_main_right
{
	float: right;
	width: 67px;
}
footer.main .top .footer_item .footer_item_sub .sub_main_left_branch{
	float: left;
	width:118px;
}
footer.main .top .footer_item .footer_item_sub .sub_main_right_branch{
	float:right;
	width: 93px;
}
footer.main h4 {
	font-size: 12px;
	color: #414042;
	padding: 15px 0 10px 0;
	margin: 0 0 10px 0;
	border-bottom: 1px solid #cad2da;
	text-transform: uppercase;
	font-weight: bold;
}

footer.main .top li {
	margin: 0 0 5px 0;
}

footer.main a {
	font-size: 12px;
}

footer.main .bottom {
	color: #6e7f8a;
	margin-top: -40px;
}

footer.main .bottom .main-center {
	width: 945px;
	padding: 6px 16px;
	color: #414042;
	font-size: 12px;
}

/*Style for product*/
.product_item{
	width: 160px;
	position: relative;
	background: #fff;
	text-align: center;
}
.product_item .product_new{
	position: absolute;
	z-index: 9;
	width: 61px;
	height: 61px;
	line-height: 61px;
	top: 0;
	right: 0;
	color: #fff;
	background: url(../images/bg_what_new.png);
	text-transform:uppercase;
	font-weight: bold;
}
.product_item .product_favorite{
	position: absolute;
	z-index: 9;
	width: 41px;
	height: 35px;
	top: 0;
	right: 0;
	color: #fff;
	background: url(../images/bg_what_fav.png);
	text-transform:uppercase;
	font-weight: bold;
	font-size: 11px;
	padding: 16px 10px 10px 10px;
}
.product_item .product_range{
	margin-top: 20px;
	font-weight: bold;
	font-size: 16px;
}
.product_item .product_name{
	font-size: 14px;
	margin-top: 5px;
	text-transform: capitalize;
	min-height: 32px;
}
.product_item .product_skin_care{
	font-size: 12px;
	margin-top: 5px;
	min-height: 10px;
}
.product_item .product_box_detail
{
	background: #ebf1fd;
	padding: 1px 0px 7px 0px;
}

.product_item .product_star_review {
  margin: 10px auto 10px;
  overflow: hidden;
  width: 120px;
}

.item-112{
	display: none;
}

/*=======paging=========*/

.paging
{
	text-align: center;
	height: 13px;
}

.paging a
{
	width: 13px;
	height: 13px;
	background-color: #b1b3b6;
	text-indent: -99999px;
	display: inline-block;
	border-radius: 50%; 
	-moz-border-radius: 50%; 
	-webkit-border-radius: 50%;
	margin: 0 3px;
}
.paging a.active
{
	background-color: #6e8bb9;
}


/*======End paging=======*/

.buy-online
{
	position: absolute;
	top:30px;
	left:474px;
	visibility:hidden;
	z-index: 100;
	background: #fff;
	border:solid 1px #ccc;
	border-top: none;
}
.buy-online a{
	padding: 5px 5px;
	float: left;
	display: block;

}
.buy-online a img
{
	width: 100px;
	height: 50px;
}
.top_add_review {
	background: url("../images/add_your_review.jpg") no-repeat;
	color: #FFFFFF;
	display: inline-block;
	font-weight: bold;
	height: 32px;
	line-height: 32px;
	text-align: center;
	text-transform: uppercase;
	width: 152px;
	font-size: 12px;
}

.top_add_review:hover{
	color: #fff;
}
/*Box shadow*/
.box_shadow{
	border-radius: 5px;
    box-shadow: 0 2px 2px #B6B7B9;
}
.box_shadow_2{
	border-top-left-radius:5px;
	border-top-right-radius:5px;
    box-shadow: 0 2px 2px #B6B7B9;
}
.box_shadow_3{
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
    box-shadow: 0 2px 2px #B6B7B9;
}

.button-up{
	 bottom: 28em;
	 display: none;
	 font-size: 12px;
	 position: fixed;
	 right: 7em;
	 text-decoration: none;
}
.button-down{
	 bottom: 2em;	
	 font-size: 12px;
	 position: fixed;
	 right: 7em;
	 text-decoration: none;
}