a.selected {
  background-color:#1F75CC;
  color:white;
  z-index:100;
}

.messagepop_newletter {
  background-color:#FFFFFF;    
  cursor:default;
  display:none;
  margin-top: 30px;
  /*margin-left: -185px;*/
  position:absolute;
  text-align:left;
  width:275px;
  z-index:50;
  /*padding: 25px 25px 20px;*/
  right:54px;
  /*position: relative;*/
  border: 1px solid #e5e6e7;
}

.messagepop_newletter .header_registerEmail{
  background: url(../images/bg_header_newsletter.jpg) repeat-x;
  text-align: center;
  padding: 16px 41px;
  font-size: 12pt;
  text-transform: uppercase;
  color: #ffffff;
}
.messagepop_newletter .close_newsletter{
  position: absolute;
  background: url(../images/close_newsletter.png) no-repeat;
  right: 7px;
  top: 7px;
  width: 19px;
  height: 19px;
  cursor: pointer;
}
.messagepop_newletter .registerEmail {
  padding: 0 15px 25px;
  font-size: 12px;
}
.messagepop_newletter .label_email, .messagepop_newletter .label_group{
  color: #7287b0;
  font-size: 12px;
  margin: 20px 0;
}
.messagepop_newletter .email{  
  height: 28px;
  line-height: 28px;
  width: 235px;
}
.messagepop_newletter input[type=checkbox]{
  margin-bottom: 10px;
}
.messagepop_newletter .message_submit{
  background-color: #3d83a7;
  color: #fff;
  text-transform: uppercase;  
  font-weight: bold;
  text-align: center;
  height: 32px;
  line-height: 32px;
  border: none;
  margin: 10px auto 0px;
  display: block;
}
.messagepop_newletter .loading_newsletter {
  bottom: 30px;
  position: absolute;
  right: 50px;
  display: none;
}
