.vc_advice_main{
	background: #fff;
	width: 897px;
	height: 337px;
	padding: 7px;
	margin: 0 auto 20px;	
}
.vc_advice_main .vc_advice_content{	
	width: 897px;
	height: 337px;		
}

.vc_advice_main .vc_advice_content .vc_advice_text{
	width: 368px ;
	height: 198px;
	padding-top: 40px;	
	margin-bottom: 26px;
	padding-left: 37px;
}	

.vc_advice_main .vc_advice_content .vc_advice_text .vc_advice_title{
	font-size: 30px;
	font-weight: bold;
	color: #6e8bb9;	
	padding-bottom: 19px;
}

.vc_advice_main .vc_advice_content .vc_advice_text .vc_advice_short_description{
	padding-bottom: 24px;
	font-size: 16px;
	color: #6e8bb9;
}

.vc_advice_main .vc_advice_content .vc_advice_text .vc_advice_full_description{
	font-size: 12px;
}

.vc_advice_main .vc_advice_content .vc_advice_start_button{
	background: url('../images/bg_btn_advice.png');
	font-weight: bold;
	color: #ffffff;
	display: inline-block;
	width: 200px;
	text-align: center;
	font-size: 12px;
	height: 32px;
	line-height: 32px;
	margin-left: 37px;
}	
}

