.wrap_all_step ul{
	border-left: 1px solid #BCD4DA;
	height: 33px;
	list-style: none;
	padding-left: 0;
}
.wrap_all_step li{
	border: 1px solid #bcd4da;
	border-left: none;
	float: left;
	line-height: 31px;
	margin-bottom: -2px;
}
.wrap_all_step li a{
	background-color: #BCD4DA;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	display: block;
	padding: 0 14px;
}
.wrap_all_step li a.active{
	background-color: #D7E7EA;
	color: #31576E;
}