.press_corner{
	padding: 40px;
	overflow: hidden;
}
.item
{
	padding: 3px;
	width: 293px;
	height: auto;
	border-radius: 5px;
	border: solid 1px #ccc;
	float: left;
	margin-right: 12px;
	margin-bottom: 20px;
}
.no_margin_right
{
	margin-right: 0px;
}

.item_img 
{
	position: relative;
	width: 284px;
	height: 238px;
	cursor: pointer;
}
.item_img img
{
	width: 284px;
	height: 238px;
}
.item_text
{
	position: absolute;
	padding: 20px 10px;
	width: 100%;
	background: rgba(255,255,255,0.8);
	background: url('../images/Vichy_Home_031.png') repeat\9;
	bottom: 0px;
	left:0px;
	text-align: justify;
	/*height: 30px;*/
	height:13px;
	overflow: hidden;
	
}

.title_text
{
	font-weight: bold;
	text-transform: uppercase;
	color: #6e8bb9;
	font-size: 13px;
	font-family: Arial,'helvetica_bold';
	margin-bottom: 12px;
	/*min-height: 30px;*/
}
.item .content_text
{

	color: #666;
	font-size: 12px;
	font-family: Arial,'helvetica_bold';
	visibility: hidden;
}
.item:hover .content_text{
	visibility: visible;
}

@media(max-width:992px){
    .press_corner{
        padding:15px !important;
    }
    .item{
        margin-right: 0 !important;
    }
}