.content_right
{
	width:687px;
	background: url(../images/bg_lytuong.png) no-repeat center;
	height: 480px;
	padding: 3px;
}
.about_text
{
	float: left;
	width: 300px;
	font-family:arial,sans-serif;
	margin: 18px 0px 0px 15px;
}
.title_text
{
	font-size: 20px;
	color: #6e8bb9;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 15px;
}
.content_text
{
	font-size: 12px;
	line-height: 17px;
	max-height: 320px;
}
@media(max-width: 992px){
	.content_right
	{	
		background: url(../images/bg_lytuong2.png) no-repeat center !important;
		width: 100% !important;
		min-height: 600px;
		height: 650px;
		position: relative;
		background-position: 50% 0%! important;
		background-size: 100% 36% !important;
	}
	.about_text{
		  position: absolute;
		  width: 100% !important;
		  padding-right: 10%;
		  top: 16%;
	}
	.title_text{
		font-size: 24px;
		width: 76%;
		margin-bottom: 5%;
	}	
}