.content_right {
	/*background: url("../images/bg_lytuong.png") no-repeat scroll center center rgba(0, 0, 0, 0);
	height: 448px;*/
	min-height: 480px;
	padding: 3px;
	width: 690px;
}
.wrap_about_text{
	margin-left: 35px;
	width: 300px;
	line-height: 16px;
	margin-top: 45px;
}
.wrap_about_text p{
	margin-bottom: 0;
}
.title_text{
	font-size: 14px;
	color: #7b94be;
	margin-bottom:25px;
	font-weight: bold;
}
.content_text{
	font-size: 12px;
}
.detail_link{
	background: url(../images/bg_btn_advice.png) no-repeat;
	display: block;
	width: 175px;
	height: 32px;
	line-height: 32px;
	color: #ffffff !important;
	text-align: center;
	font-weight: bold;
	font-size: 13px;
	margin-top: 25px;
}
@media(max-width: 992px){
	.content_right{
		background: url(../images/bg_mo_hinh_3_2.png) no-repeat !important;
		width: 100% !important;
		min-height: 600px;
		height: auto;
		background-position: 50% 0%! important;
		background-size: 100% 47% !important;
	}
	.wrap_about_text{
		width: 100% !important;
		margin:410px 0 7% !important;
		padding-left: 3%;
		padding-right: 3%;
	}
	.title_text{
		font-size: 23px !important;
	}
}