.sign_box_top
{
	background:url(../image/bg_sign_up.png) no-repeat;
	width:846px;
	height:68px;
	margin-bottom:28px;
	color: #6e8bb9;
	font-size: 17px;
	font-weight: normal;
	padding: 100px 0px 0px 0px;
}
.profile{
	width: 940px;
	margin: 0 auto;
	overflow: hidden;
}
.profile .sign-box {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding-left: 60px;
	padding-top: 7px;
	padding-right: 120px;
	box-shadow: 0px 2px 2px #B6B7B9;
	background-color: #fff;
	position: relative;
	overflow: hidden;
	margin: 0 0 20px;
	padding-bottom: 65px;
}
.profile .title h3 {
	font-size: 30px;
	color: #6e8bb9;
	font-family: Arial,'helvetica_bold';
	text-transform: uppercase;
	font-weight: bold;
}
.profile .title .intro-text{
	font-size: 14px;
	color: #414042;
	margin-top: 30px;
	font-family: inherit;
	line-height: 25px;
}
.profile .sign-form{
	padding-top: 25px;
}
.profile .sign-form .form-error{
	margin-bottom: 5px;
}
.profile .sign-form .form-error .error-text{
	color: #ff0000;
	font-size: 12px;
}
.profile .sign-form .left-form{
	float: left;
	width: 120px;
}
.profile .sign-form .right-form{
	float: left;
	width: 530px;
	margin-left: 58px;
}
.file-wrapper {
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	position: relative;
}
.file-wrapper input {
	cursor: pointer;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	filter: alpha(opacity=1);
	-moz-opacity: 0.01;
	opacity: 0.01;
	font-size: 100px;
}
.profile .button{
	margin-top: 10px;
	color: #b6c5dc;
	display: inline-block;
	font-size: 12px;
	cursor: pointer;
	height: 20px;
	line-height: 20px;
	background: #ffffff;
}
.profile .row{
	height: 32px;
	font-size: 12px;
}
.profile .col1{
	width: 120px;
}
.profile .col2{
	width: 300px;
	font-weight: bold;
}
.profile .col3{
	text-align: center;
	width: 42px;
}
.profile .col4{
	text-align: center;
	width: 60px;
}
.profile .input_profile{
	width: 300px;
}
.add_info {
	border-top: 1px solid #ebebeb;
	margin-top: 20px;
	padding-top: 45px;
	font-size: 12px;
}
.add_title {
	margin-bottom: 5px;
}
.add_title > span {
  	font-weight: bold;
}
.add_item {
 	border-bottom: 1px solid #ebebeb;
	overflow: hidden;
	padding-bottom: 25px;
	padding-top: 25px;
}
.add_question {
	font-weight: bold;
	margin-bottom: 20px;
}
.add_answer {
	float: left;
	width: 142px;
}
.image_common{
	padding-left: 25px;
}
.image_off{
	background: url(../image/image_off.png) no-repeat;
}
.image_on{
	background: url(../image/image_on.png) no-repeat;
}
#submit_form{
	background: url("../image/submit_profile.jpg") no-repeat;
	border: medium none;
	color: #ffffff;
	display: block;
	font-weight: bold;
	height: 32px;
	margin: 20px auto 0;
	width: 194px;
	cursor: pointer;
}
@media(max-width: 992px){
	.profile,
	.profile .sign-form .left-form,
	.profile .sign-form .right-form{
		width: 100%;
	}
	.profile .sign-box{
		padding: 1% 5% 15%;
	}
	.sign_box_top{
		width: 100%;
		height: auto;
		background-size: 100% ;
		padding-top: 20%;
	}
	.sign_box_top p{
		display: none;

	}
	.profile .title h3{
		text-align: center;
		font-size: 20px;
	}
	.profile .sign-form .left-form{
		text-align: center;
	}
	.file-wrapper{
		display: none;
	}
	.profile .sign-form .right-form{
		margin-left: 0;	
		margin-top: 5%;
	}
	.profile .input_profile{
		width: 100%;
	}
	.profile .col1{
		width: 24%;
	}
	.profile .col4{
		width: 20%;
	}
	.profile .col3{
		width: 7%;
	}
	.profile .col2{
		width: 51%;
	}
	.add_info{
		margin-top: 0;
		padding-top: 10%;
	}
	.profile .row{
		font-size: 11px;
	}
	
}