.clear{clear: both;}
.vichy-blog
{
	width: 920px;
	margin: 0 auto;
	clear: both;
}

.vichy-blog .box
{
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	padding: 3px;
	box-shadow:0px 2px 2px #B6B7B9;
	background-color: #fff;
	position: relative;
	overflow: hidden;
	margin: 0 0 12px;
}

.vichy-blog .nivo-controlNav
{
	position: absolute;
	bottom: 10px;
	width: 921px;
	z-index: 9;
}

.vichy-blog .nivo-controlNav a
{
	text-indent: -99999px;
	display: inline-block;
	width: 13px;
	height: 13px;
	border-radius: 50%; 
	-moz-border-radius: 50%; 
	-webkit-border-radius: 50%;
	margin: 0 3px;	
	background-color: #fff;
}

.vichy-blog .nivo-controlNav a.selected
{
	background-color: #6e8bb9;
}

.vichy-blog .list-category-blog
{
	padding: 15px 54px 0 54px;
	/*width: 940px;*/
}

.vichy-blog .list-category-blog li
{
	float: left;
	/*width: 250px;*/
	width: 270px;
	/*font-family: 'HelveticaNeueLight';*/
	font-family: arial;
	font-size: 14px;
	color: #414042;
	/*text-transform: uppercase;*/
	margin: 0 0 15px 0;
	height: 20px;
	line-height: 20px;
}

.vichy-blog .list-category-blog li a
{
	color: #414042;
	font-weight: bold;
}

.vichy-blog .list-category-blog li a.active
{
	color: #6e8bb9;
}

.vichy-blog .list-blog
{
	/*width: 896px;*/
	background-color: #fff;
}

.vichy-blog .list-blog:after
{
	display: block;
	content: "";
	clear: both;
}

.vichy-blog .wraper-list-blog
{	
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	/*overflow: hidden;*/
	box-shadow:0px 2px 2px #B6B7B9;
	background-color: #fff;
	/*padding: 12px 12px 20px;*/
	padding: 30px 5px 20px 27px;
	margin: 0 0 12px;
}

.vichy-blog .list-blog li
{
	padding: 3px;
	width: 266px;
	border: 1px solid #e6e7e8;
	/*height: 456px;*/
	height: 410px;
	box-shadow:0px 2px 0px #b6b7b9;
	float: left;
	background-color: #fff;
	margin: 0 21px 20px 0;
}

.vichy-blog .list-blog .image
{
	width: 266px;
	height: 223px;
}
.vichy-blog .list-blog .image img
{
/*	width: 350px;*/
	height: 223px;
}

.vichy-blog .list-blog .social
{
	padding: 0 0 0 10px;
	margin: 20px 0 0;
}

.vichy-blog .title
{
	/*font-family: 'HelveticaNeueLight';*/
	font-family: arial;

	font-size: 16px;
	color: #414042;
	line-height: 120%;
	margin: 12px 0 0 0px;
	padding: 0 6px;
	text-transform: uppercase;
}

.vichy-blog .title span
{
	color: #6e8bb9;
	/*font-family: 'helvetica_bold';*/
	font-family: arial;
	font-weight: bold;
}

.vichy-blog .date
{
	padding: 0 6px;
	font-size: 12px;
	color: #9d9fa2;
	/*font-family: 'HelveticaNeueLight';*/
	font-family: arial;
}

.list-blog .content_blog
{
	/*font-family: 'HelveticaNeueLight';*/
	font-family: arial;
	font-size: 12px;
	color: #414042;
	margin: 12px 5px;
	line-height: 140%;
	width: 258px;
	text-align:justify;
}

.vichy-blog .view-more
{
	width: 96%;
	/*height: 32px;
	background-color: #3d82a6;*/
	text-align: right;
	padding-right: 12px;
	/*line-height: 32px;
	margin: 20px auto 18px auto;*/
	/*background: -webkit-linear-gradient(0deg, rgba(61, 130, 166, 0.86) 5%, rgba(86, 146, 178, 0.9) 100%);
	background: -moz-linear-gradient(0deg, rgba(61, 130, 166, 0.86) 5%, rgba(86, 146, 178, 0.9) 100%);
	background: -ms-linear-gradient(0deg, rgba(61, 130, 166, 0.86) 5%, rgba(86, 146, 178, 0.9) 100%);
	background: -o-linear-gradient(0deg, rgba(61, 130, 166, 0.86) 5%, rgba(86, 146, 178, 0.9) 100%);*/
}

.vichy-blog .view-more a
{
	color: #7b94be;
	/*text-transform: uppercase;*/
	font-size: 13px;
	/*font-family: 'helvetica_bold';*/
	font-family: arial;
	/*font-weight: bold;*/
	/*display: block;*/
}

.vichy-blog .wraper-blog-detail
{
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow:0px 2px 2px #B6B7B9;
	background-color: #fff;
	padding:60px;
	margin: 0 0 20px;
}
.vichy-blog .wraper-blog-detail .banner img{
	width: 350px;
	height: 295px;
}
.vichy-blog .wraper-blog-detail .banner
{
	margin-right: 40px;
	width: 350px;
	height: 295px;
	float: left;
}
.blog-detail
{
	float: right;
	width: 410px;
}


.blog-detail h3.title 
{

	font-size:25px;
	color: #6e8bb9;
	/*font-family: 'helvetica_bold';*/
	font-family: arial;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0px;
	padding:0px 0px 10px 0px;
	text-align: left;
}

.blog-detail .social
{
	padding: 0px;
	margin:30px 0 0;
}
.blog-detail .author
{
	text-align: left;
	color: #6e8bb9;
	/*font-family: 'HelveticaNeueLight';*/
	font-family: arial;
	font-size: 16px;
	text-transform: uppercase;
}
.blog-detail .author span
{
	color: #414042;
}

.blog-detail .date
{
	text-align: left;
	font-size: 12px;
	color: #414042;
	margin: 20px 0 0;
	padding: 0px;
}

.blog_detail_description
{

	width: 820px;
	text-align: justify;
	margin-top: 20px;
}

.vichy-blog #carousel{
	height: 141px;
	width: 914px;
}
.vichy-blog #carousel img#skin-life {
	margin-left: 27px;
	margin-top: 8px;
	float: left;
}
.vichy-blog #carousel .desc_banner{
	float: left;
	width: 490px;
	margin-left: 83px;
	margin-top: 28px;
}
.vichy-blog #carousel .desc_banner .text{
	color: #90a5c7;
	font-size: 19px;
	text-transform: uppercase;
	margin-bottom: 22px;
}
.vichy-blog .coming-soon{
	color: #106cc3;
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
}
.vichy-blog .cat_active{
	color: #6e8bb9 !important;
}

/*=======paging=========*/

.paging
{
	text-align: center;
	height: 13px;
}

.paging a
{
	width: 13px;
	height: 13px;
	background-color: #b1b3b6;
	text-indent: -99999px;
	display: inline-block;
	border-radius: 50%; 
	-moz-border-radius: 50%; 
	-webkit-border-radius: 50%;
	margin: 0 3px;
}

.paging a.active
{
	background-color: #6e8bb9;
}

@media(max-width:992px){
	.paging{
		margin-top: 13px;
	}
	.paging a{
		width: 18px;
		height: 18px;
	}
}
/*======End paging=======*/
