.wrap_advice_content{
	margin: 0 auto;
	width: 931px;
	min-height: 600px;
	overflow: hidden;
}

.wrap_advice_content_left {
	float: left;
	margin-right: 12px;
	width: 700px;
}

.vc_advice_main{
	background: #fff;
	width: 686px;
	height: 173px;
	padding: 3px;
	margin-bottom:12px;
	border: 1px solid #e6e7e8;	
}
.vc_advice_main .vc_advice_content{
	height: 166px;
}

.vc_advice_main .vc_advice_content .vc_advice_text{
	width: 325px ;
	/*height: 198px;*/
	padding-top: 35px;	
	/*margin-bottom: 26px;*/
	padding-left: 26px;
}	

.vc_advice_main .vc_advice_content .vc_advice_text .vc_advice_title{
	font-size: 20px;
	font-weight: bold;
	color: #6e8bb9;	
	padding-bottom: 19px;
	text-transform: uppercase;
}

.vc_advice_main .vc_advice_content .vc_advice_text .vc_advice_short_description{
	/*padding-bottom: 24px;*/
	font-size: 12px;
	color: #6e8bb9;
}

.vc_advice_main .vc_advice_content .vc_advice_text .vc_advice_full_description{
	font-size: 12px;
}

.vc_advice_main .vc_advice_content .vc_advice_start_button{
	background: url('../images/bg_btn_advice.png');
	font-weight: bold;
	color: #ffffff;
	display: inline-block;
	text-transform: uppercase;
	width: 200px;
	text-align: center;
	font-size: 12px;
	height: 32px;
	line-height: 32px;
	margin-left: 37px;
}	
.wrap_advice_content_right{
	float: left;
	width: 214px;
}
.wrap_advice_content_right .buy_product{
	padding: 3px;
	/*height: 256px;*/
	height:255px;
	background: #ffffff;
}
.wrap_advice_content_right .bottom_buy_product_online{
	/*background: url(../images/Vichy_Advice_Dianostic.jpg) no-repeat;*/
	background: url(../images/Vichy_Advice_Dianostic-1.jpg) no-repeat;
	height: 188px;
	text-align: center;
	padding-top:13px;
}
.wrap_advice_content_right .top_buy_product_online{
	background: url(../images/bg_buyonline.png) no-repeat;
	color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    height: 61px;
    line-height: 25px;
    padding-top: 5px;
    text-align: center;
}
.wrap_advice_content_right .buy_product_inner_1 {
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}
.wrap_advice_content_right .buy_product_inner_offline{
	background: url(../images/bg_btn_advice.png) no-repeat;
	display: block;
	height: 32px;
	color: #ffffff;
	font-size: 11px;
	text-align: center;
	line-height: 32px;
	width: 134px;
	margin: 0 auto 10px;
	font-weight: bold;
}
.wrap_advice_content_right .myskin{
	color: #8099c2;
	font-size: 20px;
	font-weight: bold;
	margin-top: 17px;
	text-align: center;
}
.wrap_advice_content_right .myskin_desc{
	text-align: center;
	font-size: 12px;
	line-height: 13px;
	color: #a09fa0;
	width: 175px;
	margin: 5px auto 0;
}
.wrap_advice_content_right .myskin_btn{
	background: url(../images/bg_btn_advice.png) no-repeat;
	height: 32px;
	color: #ffffff;
	font-size: 11px;
	text-align: center;
	line-height: 32px;
	width: 175px;
	margin: 15px auto 0;
	font-weight: bold;
}
@media (width: 414px){
   .vc_advice_main .vc_advice_content{
     background-size: 59% 100% !important;
   }
}
@media (width: 375px){
   .vc_advice_main .vc_advice_content{
       background-size: 99% 100% !important;
       background-position: -4000% 50% !important;
   }
}
@media (width: 360px){
   .vc_advice_main .vc_advice_content{
      background-size: 99% 100% !important;
      background-position: -4500% 50% !important;
   }
}
@media (max-width: 320px){
   .vc_advice_main .vc_advice_content{
      background-size: 99% 100% !important;
      background-position: -4500% 50% !important;
   }
}
@media(max-width: 992px){
	.wrap_advice_content,.wrap_advice_content_left,.wrap_advice_content_right{
		width: 100%;
	}
	.vc_advice_main .vc_advice_content .vc_advice_text{
		width: 235px;
		padding-left: 2%;
		padding-top: 2%;
	}

	.vc_advice_main .vc_advice_content .vc_advice_text .vc_advice_title{
		font-size: 20px;
		padding-bottom: 2%;
	}
	.vc_advice_main .vc_advice_content .vc_advice_text .vc_advice_short_description{
		padding-bottom: 2%;
	}
	.vc_advice_main .vc_advice_content{
		height: 100%;
	}
	.vc_advice_main{
		height: 160px;
	}
	.vc_advice_main .vc_advice_content .vc_advice_text{
		height: auto;
	}
	.wrap_advice_content_right .top_buy_product_online{
		  background-size: 100%;
		  height: 40px;
	}
	.wrap_advice_content_right .buy_product{
		height: 100% !important;
		margin-bottom: 5%;
	}
	.wrap_advice_content_right .bottom_buy_product_online{
		background-size: 100% 100%;
	}
	.wrap_advice_content_right .buy_product_inner_1{
		width: 80%;
		margin: 10px auto;
	}
	.wrap_advice_content_right .buy_product img{
		width: 100%;
	}
	.wrap_advice_content_right .myskin_desc{
		width: 90%;
	}
	.wrap_advice_content_right .myskin_btn{
		margin-bottom: 5%;
	}
	.muaonline{
		width: 100%;
		height: auto;
		z-index: 9999;
		position: absolute;
		background: #fff;
	}
	.muaonline img{
		width: 23% !important;
	}
	.wrap_advice_content_right .buy_product_inner_offline{
		margin-bottom: 0 !important;
	}
}