.list_products_without_steps
{
	width: 940px;
	/*height: 593px;*/
	/*background: url('../images/bg_products.png') center no-repeat fixed;*/
	background: #FFFFFF;
	font-family: Arial;	
	padding: 7px;
	margin: 0 auto;
	overflow: hidden;
}

.list_products_without_steps .list_products_title_without_steps{
	background-color: #3B658E;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	height: 32px;
	line-height: 32px;
	/*margin-left: 8px;*/
	padding-left: 60px;		
	width: inherit;
	text-transform: uppercase;
}
.list_products_without_steps .list_products_list_without_steps{
	padding-top: 26px;
	padding-left: 70px;
	/*width: 940px;*/
}
.list_products_without_steps .list_products_list_without_steps .product_item{
	float:left;
}
