/*.research{
	
}*/
.pagi_1{
	padding: 40px;
}
.item
{
	padding: 7px;
	width: 284px;
	height: 238px;
	border-radius: 5px;
	border: solid 1px #ccc;
	float: left;
	margin-right: 16px;
	margin-bottom: 20px;
}
.no_margin_right
{
	margin-right: 0px;
}

.item_img 
{
	position: relative;
	width: 284px;
	height: 238px;
	cursor: pointer;
}
.item_img img
{
	width: 284px;
	height: 238px;
}
.item_text
{
	position: absolute;
	padding: 20px 10px;
	width: 264px;
	background: rgba(255,255,255,0.8);
	background: url('../images/Vichy_Home_031.png') repeat\9;
	bottom: 0px;
	left:0px;
	text-align: justify;
	height: 13px;
	overflow: hidden;
	
}

.title_text
{
	font-weight: bold;
	text-transform: uppercase;
	color: #6e8bb9;
	font-size: 11px;
	font-family: Arial,'helvetica_bold';
	margin-bottom: 20px;
}
.content_text
{

	color: #666;
	font-size: 12px;
	font-family: Arial,'helvetica_bold';
}
.pagi_2
{
	width:687px;
	background: url(../images/bg_reseach.png) no-repeat center;
	height: 607px;
	padding: 7px;
}
.about_text
{
	/*float: left;*/
	width: 310px;
	font-family:arial,sans-serif;
	/*margin: 36px 0px 25px 36px;*/
	margin: 5px 0 7px 36px;
}
.title_text_2
{
	font-size: 20px;
	color: #6e8bb9;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 17px;
}
.content_text_2
{
	font-size: 12px;
	line-height: 20px;
}
.research_pagi{
	width: 30px;
	margin: 0 auto;
}
.research_pagi a{
	background-image: url(../button_jcaurosel/bt.png);
	width: 13px;
	height: 13px;
	display: inline-block;
}
.research_pagi a.active{
	background-image: url(../button_jcaurosel/ac.png);
}
