.clear{clear: both;}

.bullet {
		background: url(../button_jcaurosel/bt.png) center center no-repeat;
		display: block;
		width: 18px;
		height: 18px;
		margin: 0;
		margin-right: 5px;
		float: left;				
	}
.content{
	width: 632px;
	float: right;
	background: #fff;
	padding: 48px 10px 20px 58px !important;
	position: relative;
}
.content_right
{
	width: 632px;
}
.content_right_full_img{
	width: 632px;
}
.about_text
{
	float: left;
	width: 292px;
	font-family:arial,sans-serif;
}
.title_text
{
	font-size: 20px;
	color: #6e8bb9;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 28px;
}
.content_text
{
	font-size: 12px;
	line-height: 20px;
	text-align: left;
}
.about_img
{
	float: left;
	width: 324px;
	margin-left: 15px;
}
.about_img img
{
	width: 324px;
	height: 460px;
}
.about_img_full_img
{
	float: left;
	/*width: 324px;*/
	margin-left: 15px;
}
.about_img_full_img img
{
	/*width: 324px;*/
	height: 400px;
}
.custom_article_css{
	float: left;
	width: 324px;
	margin-left: 15px;
	margin-top: 62px;
}
.custom_article_css img{
	width: 324px;
	height: 400px;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;

    margin: 0;
    margin-left: -22px;
}

@media (max-width: 620px) {
    .jcarousel-pagination {
        bottom: -35px;
    }
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;

    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;

    margin-right: 7px;

    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;

    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}
