.content_right {
	/*background: url("../images/bg_lytuong.png") no-repeat scroll center center rgba(0, 0, 0, 0);
	height: 448px;*/
	min-height: 480px;
	padding: 5px;
	width: 690px;
}
.wrap_about_text{
	margin-left: 35px;
	width: 300px;
	margin-top: 45px;
}
.title_text{
	font-size: 14px;
	color: #7b94be;
	margin-bottom:25px;
}
.content_text{
	font-size: 12px;
}
.detail_link{
	background: url(../images/bg_btn_advice.png) no-repeat;
	display: block;
	width: 175px;
	height: 32px;
	line-height: 32px;
	color: #ffffff !important;
	text-align: center;
	font-weight: bold;
	font-size: 13px;
	margin-top: 25px;
}