.messege_login_fail
{
	color: #f00;
	width: 247px;
	line-height: 20px;
	text-align: center;
}
.nav-vichy-top-right .login{
	
	font-size: 12px;
	width: 150px;
	height: 29px;
	line-height: 29px;
	float: right;
	position: relative;
	background: #fff;
	border:1px solid #ccc;
	border-top: none;
	text-align: center;
	color: #6e8bb9;
	z-index: 100;
	cursor: pointer;
}
.nav-vichy-top-right .login .in, .nav-vichy-top-right .login .myskin{color: #666566;}
.nav-vichy-top-right .login .in:hover, .nav-vichy-top-right .login .myskin:hover{color: #6e8bb9;}

.nav-vichy-top-right .login .popup-login{
	position: absolute;
	width: 280px;
	height: 340px;
	background: #ffffff;
	z-index: 999;
	top: 36px;
	left: -70px;
	border-bottom: 1px solid #e5e6e7;
	border-left: 1px solid #e5e6e7;
	border-right: 1px solid #e5e6e7;
	padding-top: 10px;
	padding-left:4px;
	text-transform: none;
	display: none;
}


.nav-vichy-top-right .login .popup-login h1{
	font-size: 14px;
	color: #6e8bb9;
	text-transform: uppercase;
	font-weight: bold;
}

.nav-vichy-top-right .login .popup-login .inputbox{
	width: 235px;
	height: 30px;
	border: 1px solid #9d9fa2;
	margin-top:12px;
	padding-left: 10px;
}

.nav-vichy-top-right .login .popup-login .button{
	padding-top:10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	background: #77a7c1;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
	font-weight: bold;
	cursor: pointer;
	margin-left: 4px;
	margin-top:12px;
}

.nav-vichy-top-right .login .popup-login .modlgn-remember{
	font-size: 11px;
	color: #414042;
}

.nav-vichy-top-right .login .popup-login .forgot-password{
	font-size: 11px;
	color: #6e8bb9;
	margin-left: 20px;
}

.nav-vichy-top-right .login .popup-login .form-connect-facebook{
	font-size: 14px;
	color: #6e8bb9;
	text-transform: uppercase;
	font-weight: bold;
}

#form-login-remember{
	margin-top:10px;
}
#login-form{
	display: inline;
}
#button-logout{
	background: none;
	border: none;
	font-weight: bold;
	padding: 0;
	text-transform: uppercase;
}