.vichy_home_main{
	width:922px;	
	margin: 0 auto;
	overflow: hidden;
}

/*CSS slide*/
.vichy_home_slide_top .box {
	position: relative;
	overflow: hidden;
}
.vichy_home_slide_top .nivo-controlNav
{
	position: absolute;
	bottom: 10px;
	width: 165px;
	z-index: 9;
}
.vichy_home_slide_top .nivo-controlNav a
{
	text-indent: -99999px;
	display: inline-block;
	width: 13px;
	height: 13px;
	border-radius: 50%; 
	-moz-border-radius: 50%; 
	-webkit-border-radius: 50%;
	margin: 0 3px;	
	background-color: #fff;
}
.vichy_home_slide_top .nivo-controlNav a.selected
{
	background-color: #6e8bb9;
}
.vichy_home_slide_top{
	width: 921px;
	height: 344px;
	background: #fff;	
	padding: 3px;/*custom padding*/
	border: 1px solid #e6e7e8;
	margin-bottom: 12px;
}
/*--------------*/

/*CSS home_product*/
.vichy_home_product{		
	width:922px;
	/*margin-bottom: 20px;*/
	overflow: hidden;
}
.vichy_home_common{
	padding: 3px;/*custom padding*/
	
	background: #fff;
	/*margin-right: 16px;
	margin-bottom: 16px;*/	
	float: left;
	position: relative;
	border: 1px solid #e6e7e8;
	height: 384px;
	border-radius: 5px;
	-moz-border-radius: 5px;
 	-webkit-border-radius: 5px;
 
 	behavior: url(PIE/PIE.php) ;
 	
 	margin-left: -2px\9;
}
.vichy_home_large{
	width: 453px;
}
.vichy_home_large img{
	width: 446px;
	height: 376px;
}
.vichy_home_small{
	width: 221px;
}
.hover_shadow
{
	box-shadow:0px 0px 2px #999;
}
.vichy_home_common:hover{
	
	/*box-shadow:0px 0px 5px #999;*/
	/*-webkit-box-shadow: 0px 0px 5px #999;
  	-moz-box-shadow: 0px 0px 5px #999; */
	/*border-radius: 5px;*/
	/*margin-left:0px\9;
	margin-top:0px\9;*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: #999 2px 2px 5px;
	-moz-box-shadow: #999 2px 2px 5px;
	box-shadow: #999 2px 2px 5px;
	behavior: url(PIE/PIE.php) ;

}
.float_right
{
	 margin-right:2px;
	 margin-left:0px; 
}

/*---------------*/

/*CSS for blog in home page*/
.vichy_home_main .vichy_home_product .vichy_home_large .text_blog
{
	background: rgba(255,255,255,0.7);
	background: url('../images/Vichy_Home_031.png') repeat\9;
	/*padding:35px 35px 0;*/
	padding: 0 28px;
	
	margin-bottom: -5px\9;
	position: absolute;
	bottom: 3px;/*custom padding*/
	width: 99%;
	height: 90px;
}
.vichy_home_main .vichy_home_product .vichy_home_large .text_blog .title_blog
{
	color: #6e8bb9;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 22px;
	margin-bottom: 5px;
	height: 27px;
	overflow: hidden;
	margin-top: 33px;
}
.vichy_home_main .vichy_home_product .vichy_home_large .text_blog .des_blog
{
	font-size: 13px;
	height:33px;
	overflow: hidden;
	display: none;
}