.list_products
{
	width: 914px;
	/*height: 593px;*/
	/*background: url('../images/bg_products.png') center no-repeat fixed;*/
	background: #FFFFFF;
	font-family: Arial;	
	padding: 3px;/*custom padding*/
	margin: 0 auto;
	overflow: hidden;
	border: 1px solid #e6e7e8;
	border-bottom: none;
	box-shadow: 0px 1px 2px #B6B7B9;
}

.list_products .list_products_title{
	background-color: #919191;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	height: 32px;
	line-height: 32px;
	/*margin-left: 8px;*/
	padding-left: 60px;		
	width: inherit;
	text-transform: uppercase;
}
.list_products .list_products_list{
	padding-top: 26px;
	padding-left: 70px;
	/*width: 940px;*/
}
.list_products .list_products_list .product_item{
	float:left;
}
@media(max-width: 992px){
	.list_products{
    width:100%;
  }
  .list_products .list_products_title{
    padding-left: 2% !important;
  }
  .list_products .list_products_list{
    padding-left: 0 !important;
  }
  .product_item{
    width: 33% !important;
    margin-bottom: 20px !important;
  }
  .image_product img{
    width: 100% !important;
  }
}