
.spa_right_detail
{
	width:686px;
	/*height:421px;*/
	height:530px;
	margin: 3px;
}


.content_text
{
	margin-left:20px;
	padding-top: 20px;
	width: 355px;
}
.title_text
{
	color:#25aae1;
	font-size: 22px;
	margin-bottom: 10px;
}
.sub_text
{
	font-size: 16px;
	color: #6e8bb9;
	margin-bottom: 15px;
}
.des_text
{
	line-height: 20px;
}
.blue
{
	/*color: #29afe4;*/
	color: #28aee4;
}
.blue-2
{
	color: #25aae1;
}
.blue-3
{
	color: #1271b9;
}
.orange
{
	/*color: #fec319;*/
	color: #fec00f;
}
.green
{
	/*color: #2fb75e;*/
	color: #1fb151;
}
.brown
{
	/*color: #815a3a;*/
	color: #5a4a42;
}
.dark_blue
{
	/*color: #3385c3;*/
	color: #0e76bc;
}

.sub_blue
{
	/*color: #29afe4;*/
	color: #69c6ec;
}
.sub_blue-2
{
	color: #2cade2;
}
.sub_blue-3
{
	color: #5a9cce;
}
.sub_orange
{
	/*color: #fec319;*/
	color: #fed357;
}
.sub_green
{
	/*color: #2fb75e;*/
	color: #63c986;
}
.sub_brown
{
	/*color: #815a3a;*/
	color: #9f826a;
}
.sub_dark_blue
{
	/*color: #3385c3;*/
	color: #0e76bc;
}.bullet {
  background: url("../images/bt.png") no-repeat;
  display: block;
  float: left;
  height: 18px;
  margin: 0 5px 0 0;
  width: 18px;
}

#pages{
	margin-left: 85px;
	margin-bottom: 20px;
}
@media (max-width: 992px) {
    .content_text{
        /*margin-left: 0px!important;*/
    }
    .content_text-detail{
        padding:0 15px!important;
        margin-left: 0px!important;
        width: 100% !important;
    }
    .spa_right_detail{
    	background-size: 100% !important;
    }
	/*.spaheight{*/
		/*height:80px;*/
	/*}*/
/*    .content_text-detail .wrapper{
    	margin-top: 15%;
    }*/
    .dichvu-des{
        min-height:220px;
        position: absolute;
        /*margin-bottom: 18%;*/
    }
}