.spa_right
{
	/*width:622px;*/
	background:url(../images/service_top.png) no-repeat top center, url(../images/service_bottom.jpg) no-repeat bottom center;
	background-color:#FFF;
	padding: 32px;
	min-height: 336px;
	margin: 3px;
}
.item
{
	width:607px;
	padding-bottom: 20px;
	border-bottom: solid 1px #ccc;
	padding-top: 20px;
}
.item:first-child
{
	padding-top: 0px;
}
.item:last-child
{
	border-bottom: none;
	padding-bottom:0px;
}
.title_item
{
	font-size: 20px;
	font-family:arial;
	margin-bottom: 15px;
	width: 540px;
}
.blue
{
	/*color: #29afe4;*/
	color: #28aee4;
}
.blue-2
{
	color: #25aae1;
}
.blue-3
{
	color: #1271b9;
}
.orange
{
	/*color: #fec319;*/
	color: #fec00f;
}
.green
{
	/*color: #2fb75e;*/
	color: #1fb151;
}

.yellow{
	color: #fffc00;
}

.brown
{
	/*color: #815a3a;*/
	color: #5a4a42;
}
.dark_blue
{
	/*color: #3385c3;*/
	color: #0e76bc;
}
.sub_item
{
	width:607px;
	line-height: 25px;
	font-size: 14px;
}
.sub_item .sub_item_text
{
	float: left;
	width: 540px;
}
.sub_item a.title_sub
{
	width: 540px;
	float: left;
	display: block;
	text-decoration:none;
	color: #666;
}
.sub_item a.detail
{
	width: 60px;
	float: right;
	display: block;
	text-decoration:none;
	text-align: right;
	color: #6e8bb9;
}
.sub_item a:hover
{
	color: #2fb75e;
}
.clear
{
	clear: both;
}
@media (max-width: 992px){
    .content-right{

    }
    .content-right .spa_right{
        width: 100%!important;
    }
}
