.store-locator
{
	margin: auto;
	width: 921px;
	clear: both;
	overflow: hidden;
}

.tabs li{
	float: left;
	width: 146px;
	height: 30px;
	display: block;
	line-height: 30px;
	background: url(../images/bg.jpg);
	font-size: 14px;
	text-align: center;
	margin-right: 2px;
}
.tabs li.active{
	background: url(../images/bg_selected.jpg);
}
.tabs li a{
	color: #ffffff;
	font-weight: bold;
}

.store-locator .address
{
	float: left;
	width: 452px;
	border: 1px solid #e6e7e8;
	background-color: #fff;
	padding: 3px 3px 40px;
	
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	box-shadow:0px 2px 2px #B6B7B9;
}

.store-locator .address .tab-container li
{
	display: table;
}

.store-locator .address .image
{
	float: left;
	display: table-cell;
	width: 155px;
	font-weight: bold;
	color: #7f9bb6;
	background: url(../images/small_icon.png) no-repeat 15px center;
	padding-left: 35px;
	font-size: 12px;
}

.tab-container{
	/*height: 380px;*/
	padding-right: 15px;
	margin-top: 30px;
}
/*#store-content{
	height: 380px;
}*/

.store-locator .address .info
{
	border-left: 1px solid #e6e7e8;
	display: table-cell;
	float: left;
	padding-bottom: 20px;
	padding-left: 18px;
	vertical-align: middle;
	width: 190px;
}

.store-locator .address h3
{
	font-size: 16px;
	color: #7f9bb6;
	/*font-family: 'helvetica_bold';*/
	font-family: arial;
	margin: 0 0 14px;
	font-weight: bold;	
}

.store-locator .addr
{
	/*font-family: 'HelveticaNeueLight';*/
	font-family: arial;
	color: #414042;
	font-size: 12px;
	margin: 0 0 3px;
}

.store-locator .address h3 a
{
	color: #7f9bb6;
}

.store-locator .addr span
{
	/*font-family: 'helvetica_bold';*/
	font-family: arial;
	font-weight: bold;
}


.store-locator .store-locator-right
{
	float: right;
	width: 460px;
}

.store-locator .store-locator-right .content
{
	border: 1px solid #e6e7e8;
	border-top: none;
	background-color: #fff;
	margin: 0 0 12px;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	padding: 3px;
	box-shadow:0px 2px 2px #B6B7B9;
}

.store-locator #map
{
	height: 565px;
	clear: both;
}

.store-locator .buy-offline
{
	height: 105px;
	background:#d9e6f3;
	padding: 0 5px;
	color: #fff;
}

.store-locator .buy-offline h3
{
	color: #6e8bb9;
	/*font-family: 'helvetica_bold';*/
	font-family: arial;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 15px;
	text-align: center;
	padding-top: 12px;
}
.buy-offline-image {
  margin: 0 auto;
  width: 412px;
    text-align: center;
}
.buy-offline-image > a {
  display: inline-block;
  margin-right: 19px;
}

.store-locator .buy-offline p
{
	clear: both;
	font-size: 12px;
	margin: auto 0 20px;
}

.store-locator .buy-offline .btn
{
	width: 175px;
	height: 32px;
	line-height: 32px;
	background-color: #3d82a6;
	text-align: center;
	/*font-family: 'helvetica_bold';*/
	font-family: arial;
	font-size: 13px;
}

.store-locator .buy-offline .btn a
{
	color: #fff;
	display: block;
}
.store-locator #submit_address{
	position: absolute;
	z-index: 5;
	background: #ffffff;
	top: 20px;
	left: 64px;
}
.store-locator .inputbox {
    height: 30px;
	width:280px;
	border: none;
	background: white;
	border-top: 1px solid #cad2da;
	border-left: 1px solid #cad2da;
	border-bottom: 1px solid #cad2da;
	float: left;
	outline: none;
	padding-left: 5px;
	padding-right: 5px;
}
.store-locator .google-search {
	border: none;
	width: 33px;
	height:34px;
	float: left;
	background: url('../images/bt-search.png') no-repeat;
	background-position: center;
	border-top: 1px solid #cad2da;
	border-right: 1px solid #cad2da;
	border-bottom: 1px solid #cad2da;
	cursor: pointer;
	outline: none;
}
.image_type_store{
	width: 444px;
	height: 210px;
}
.buy-offline h3{
	margin-top: 0 !important;
}
.mobile2-style{
    display: none !important;
}
@media(max-width: 992px){
	.store-locator,.store-locator .address,.image_type_store,.image_type_store img,
	.store-locator .store-locator-right,
	.buy-offline-image{
		width: 100% !important;
	}
	.image_type_store{
		height: auto;
	}
	.tab-container{
		padding-right: 0;
	}
	.store-locator #submit_address{
		left: 5%;
		top:10%;
	}
	.buy-offline-image > a{
		margin: 0 2%;
		width: 63px;
	}
	.buy-offline-image > a > img{
		width: 100%;
	}
	.store-locator .inputbox{
		width: 230px;

	}
	.tabs li{
		width: 32.9% !important;
	}
	.store-locator .address .image{
		width: 50%;
	}
	.store-locator .address .info{
		width: 50%;
	}
    .store-locator #map
    {
        height: 350px!important;
        clear: both;
    }
    .store-locator .store-locator-right .content{
    	margin-bottom: 0 !important;
    	box-shadow: 0;
    }
    .store-locator .address{
        padding:3px !important;
    }
    .store-content{
    	height: 50px !important
    }

}
@media (min-width: 992px){
	#wrap-store-location{
		display: block;
    	visibility: visible;
	}
	    
}